{% load static i18n %}

<header class="header">
    <div class="container">
      <div class="header-wrap">
        <div class="header-logo">
          <a href="/" class="header-logo__ref"><img src="{% static 'images/logo.png' %}" alt="it-Akita Логотип"></a>
        </div>
        <div class="header-overlay"></div>
        <nav class="nav-wrap">
          <div class="nav-logo__wrap">
            <div class="nav-logo">
              <a href="/" class="nav-logo__ref"><img src="{% static 'images/logo.png' %}" alt="it-Akita logo"></a>
            </div>
          </div>
          <ul class="nav">
            <li class="nav-item"><a class="nav-ref" href="/">Главная</a>
            <li class="nav-item"><a class="nav-ref" href="/about">Обо мне</a>
            </li>
            <li class="nav-item nav-item_dropdown nav-services_mobile"><a class="nav-ref" href="#">Услуги</a>
              <ul class="nav-dropdown">
                <li class="nav-dropdown__item"><a class="nav-dropdown__ref"
                    href="/sozdanie-sayta-spb">Сайты</a>
                </li>
                <li class="nav-dropdown__item"><a class="nav-dropdown__ref"
                    href="/consulting">IT-консалтинг</a></li>
              </ul>
            </li>
            <li class="nav-item nav-item_dropdown nav-services_desktop"><a class="nav-ref"
                href="#">Услуги</a>
              <ul class="nav-dropdown">
                <li class="nav-dropdown__item"><a class="nav-dropdown__ref"
                    href="/sozdanie-sayta-spb">Сайты</a>
                </li>
                <li class="nav-dropdown__item"><a class="nav-dropdown__ref"
                    href="/consulting">IT-консалтинг</a></li>
              </ul>
            </li>
            <li class="nav-item"><a class="nav-ref" href="/portfolio">Портфолио</a>
            <li class="nav-item"><a class="nav-ref" href="/contact">Контакты</a>
            </li>
          </ul>

          <div class="footer-socials">
            <a href="#" class="footer-socials__item" title="Мы в Instagram">
              <img src="{% static 'images/footer-instagram.svg' %}" alt="icon instagram">
            </a>
            <a href="#" class="footer-socials__item" title="Мы в Facebook">
              <img src="{% static 'images/footer-facebook.svg' %}" alt="icon facebook">
            </a>
          </div>
          <button class="button button-color button-contact nav-button">Связаться со мной</button>
          <img src="{% static 'images/nav-spot.svg' %}" alt="Akita" class="nav-spot wow fadeScale"
            data-wow-delay="0.6s">
        </nav>

        <div class="header-right">
          <!-- <div class="header-phone"><a href="tel:+78129293629" class="header-phone__ref">929-36-29</a></div> -->
          <div class="burger">
            <span class="burger-bar"></span>
          </div>
        </div>
        <button class="button button-contact header-button m-0">Связаться со мной</button>
      </div>
    </div>
  </header>
